body {
    font-family: "Indie Flower", cursive;
    font-size: 1.5rem;
    letter-spacing: 3px;
    margin: 15px 35px 45px 35px;
    background-image: linear-gradient(tan,brown);
}
h1 {
    text-align: center;
    font-size: 2rem;

}
#img1, #img2, #img3, #img4, #img5, #img6, #img7, #img8, #img9 {
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
    border: 1px black solid;

}
footer {
    text-align: center;
    
}